@using ModelView;
@model ProductViewModel;
@{
    ProductViewModel pro = ViewBag.product as ProductViewModel;
}


<div class="container w-100">
    <form method="post" asp-action="update" asp-controller="product" class="w-100" enctype="multipart/form-data">

        <input type="hidden" asp-for="ID" value="@pro.ID" />

        <label asp-for="Name" class="w-100">
            <input asp-for="Name" class="form-control " placeholder="Product Name" value="@pro.Name" />
            <span asp-validation-for="Name"></span>
        </label><br><br>
        <label asp-for="Price" class="w-100">
            <input asp-for="Price" class="form-control " placeholder="Product Price" value="@pro.Price" />
            <span asp-validation-for="Price"></span>
        </label><br><br>
        <label asp-for="Description" class="w-100">
            <input asp-for="Description" class="form-control " placeholder="Description" value="@pro.Description" />
            <span asp-validation-for="Description"></span>
        </label><br><br>
        <label asp-for="Quantity" class="w-100">
            <input asp-for="Quantity" class="form-control " placeholder="Product Quantity" value="@pro.Quantity" />
            <span asp-validation-for="Quantity"></span>
        </label><br><br>
        <label asp-for="CategoryID" class="w-100">
            <input asp-for="CategoryID" class="form-control " placeholder="Category No" value="@pro.CategoryID" />
            <span asp-validation-for="CategoryID"></span>
        </label><br><br>

        <div>
            <label asp-for="DeleteOrNot">Delete The Old Image :  </label>
            <input asp-for="DeleteOrNot" class="form-Check" />
        </div>

        <label asp-for="Attachments">
            <input asp-for="Attachments" class="form-control" multiple accept="image/*" />
            <span asp-validation-for="Attachments" class="text-danger"></span>
        </label><br /><br />


        <div class="d-flex shadow flex-wrap my-4">
            @foreach (string image in @pro.ProductsImageList)
            {
                <div class="p-4 shadow rounded-2 me-1">
                    <img src="/Images/@image" height="200px" width="200px" alt="Alternate Text" />
                    </div>
            }
        </div>

        <input asp-for="ProductsImageList" type="hidden" value="@pro.ProductsImageList" />




        <button type="submit" class="btn btn-outline-success">Update</button>
    </form>
</div>
